<div class="container grey darken-2">
    <div class="card-panel grey lighten-1 center-align">
        <img class="mascotte" src="/assets/img/icons/mascotte.svg" />
        <h3 class="title">Sysdig test</h3>
    </div>

    <div class="center-align grey-text text-lighten-4 actionWrapper">
        Test application for displaying events...
    </div>
</div>

{{outlet}}

<footer class="page-footer">
    <img class="footerLogo" src="/assets/img/icons/sysdig-white.svg" />
</footer>
